###
# Dev ENVIRONMENT file
#
# Copy to .env to use defaults
###

# GIT (upstream) url to publish to
export FILER_UPSTREAM_URI="git@github.com:js-platform/filer.git"

# GIT (upstream) branch to publish to
export FILER_UPSTREAM_BRANCH="develop"

# Remote name for upstream repo
export FILER_UPSTREAM_REMOTE_NAME="origin"
